* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Caveat;
    color: #A52A2A;
  }

#layout {
    width: 30%;
    height: 85vh;
    background-color: #FFDAB9;
    display: flex;
    justify-content: center;
    margin: 5rem;
    border-radius: 5%;
    border-color: #CD5C5C;
    border-style: dotted;
}

ul {
    margin-left: 30px;
    font-size: 1.3rem;
}

h2, h3 {
    padding: 1rem;
}

img {
    width: 40%;
    margin-left: 8rem;
}

body {
    display: flex;
    justify-content: center;
    background-color: #FFEFD5;
}